/* ----------- Palette ----------- */

:root {
  --webcolor: #2196f3;
  --primarytext: #212121;
  --secondarytext: #757575;
  --accent: #2196f3;
  --secondaryacc: #188ce8;
  --footeraddress: rgba(255, 255, 255, 0.6);
  --primarybg: #fff;
  --secondarybg: #2f303a;
  --morebackground: #f5f4fa;
  --studiomain: #000;
  --studiosecond: #fff;
  --trietaryacc: #fff;
  --elementcolor: #afb1b8;
  --typical-padding: 94px;
  --typical-margin: 50px;
}

/* ----------- Global Styles ----------- */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primarytext);
}

.header-front {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: var(--typical-margin);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------- Header Styles ----------- */

.head {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.head-container {
  display: flex;
  align-items: center;
}

.head-nav {
  display: flex;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo.black {
  color: var(--studiomain);
  margin-right: 93px;
}

.logo-web {
  color: var(--webcolor);
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links > li:not(:last-child) {
  margin-right: 50px;
}

.headlink {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headlink:hover,
.headlink:focus {
  color: var(--accent);
}

.headlink::after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  top: 45px;
  background-color: var(--accent);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headlink:hover::after,
.headlink:focus::after {
  opacity: 100%;
}

.current {
  color: var(--accent);
}

.current.headlink::after {
  opacity: 100%;
}

.nav-contacts {
  display: flex;
  margin-left: auto;
}

.link.address {
  color: var(--secondarytext);
}

.head-mail {
  display: flex;
  align-items: center;
  height: 16px;
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-mail::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-color: currentColor;
  -webkit-mask-image: url(../images/envelope.svg);
  mask-image: url(../images/envelope.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-mail:hover,
.head-mail:focus {
  color: var(--accent);
}

.head-phone {
  display: flex;
  align-items: center;
  height: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-phone::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  background-color: currentColor;
  -webkit-mask-image: url(../images/smartphone.svg);
  mask-image: url(../images/smartphone.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-phone:hover,
.head-phone:focus {
  color: var(--accent);
}

/* ----------- Hero Styles ----------- */

.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding: 200px 200px;
  background-color: var(--secondarybg);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/herobg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: white;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  border: none;
  background-color: var(--accent);
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--secondaryacc);
}

/* ----------- Benefits Styles ----------- */

.benefits {
}

.bene-grid {
  display: flex;
  justify-content: center;
  margin-left: -30px;
}

.bene-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.bene-img {
  height: 70px;
  width: 70px;
}

.bitem-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  width: 270px;
  margin-bottom: 10px;
}

.bitem-header::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--morebackground);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.antenna::before {
  background-image: url(../images/antenna.svg);
}

.clock::before {
  background-image: url(../images/clock.svg);
}

.diagram::before {
  background-image: url(../images/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.bitem-text {
  line-height: 1.71;
  color: var(--secondarytext);
  width: 270px;
}

/* ----------- Work Styles ----------- */

.work {
}

.work-content {
  padding-bottom: var(--typical-padding);
}

.work-grid {
  display: flex;
  justify-content: center;
  margin-left: -30px;
}

.work-grid > li {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.work-desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* ----------- Team Styles ----------- */

.team {
  background: var(--morebackground);
}

.team-grid {
  display: flex;
  justify-content: center;
  margin-left: -30px;
}

.team-card {
  background: var(--primarybg);
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-img {
  margin-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-pos {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondarytext);
  margin-bottom: 16px;
}

.teamsoc-grid {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 30px;
}

.teamsoc-item:not(:last-child) {
  margin-right: 10px;
}

.teamsoc-link {
  display: flex;
  width: 44px;
  height: 44px;
  color: var(--elementcolor);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teamsoc-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.teamsoc-link:hover,
.teamsoc-link:focus {
  color: var(--primarybg);
  background-color: var(--accent);
}

/* ----------- Clients Styles ----------- */

.client-grid {
  display: flex;
  justify-content: center;
  margin-left: -30px;
}

.client-item {
  display: inherit;
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  height: 92px;
  justify-content: center;
  align-items: center;
}

.client-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--elementcolor);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-img {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  color: var(--accent);
  border-color: var(--accent);
}

/* ----------- Footer Styles ----------- */

.foot {
  background: var(--secondarybg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot-flex {
  display: flex;
  align-items: baseline;
}

.logo.white {
  color: var(--studiosecond);
}

.foot-add {
  margin-top: 20px;
  font-style: inherit;
  width: 231px;
}

.footer-address {
  line-height: 1.71;
  color: var(--footeraddress);
}

.contrast {
  color: var(--trietaryacc);
}

.footer-address.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address.link:hover,
.footer-address.link:focus {
  color: var(--accent);
}

.foot-add > ul > li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-soc {
  margin-left: 70px;
}

.footsoc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--studiosecond);
}

.footsoc-grid {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footsoc-item:not(:last-child) {
  margin-right: 10px;
}

.footsoc-link {
  display: flex;
  width: 44px;
  height: 44px;
  color: var(--trietaryacc);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footsoc-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footsoc-link:hover,
.footsoc-link:focus {
  color: var(--trietaryacc);
  background-color: var(--accent);
}

.footsubscribe {
  margin-left: auto;
}

.footformhed {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--trietaryacc);
  margin-bottom: 20px;
}

.footform {
  display: flex;
}

.footinput {
  width: 358px;
  height: 50px;
  padding: 15px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--trietaryacc);
  background-color: var(--secondarybg);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}

.footinput::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footinput::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footinput:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footinput::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footinput::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footinput:focus {
  outline: none;
}

.footsubbutt {
  position: relative;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 29px;
  border: none;
  background-color: var(--accent);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--trietaryacc);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footsubbutt:hover,
.footsubbutt:focus {
  background-color: var(--secondaryacc);
}

.footsubbutt::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-color: var(--trietaryacc);
  -webkit-mask-image: url(../images/send.svg);
  mask-image: url(../images/send.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/* ----------- Modal Styles ----------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  min-width: 528px;
  padding: 40px;
  background-color: var(--primarybg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  scale: 0;
}

.modal-close {
  position: absolute;
  display: flex;
  top: 6px;
  right: 6px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primarybg);
  cursor: pointer;
}

.modal-close:hover {
  fill: var(--accent);
}

.modalhead {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--primarytext);
  margin-bottom: 12px;
}

.modalform {
  display: inherit;
  flex-direction: column;
}

.formdiv {
  position: relative;
  display: inherit;
  flex-direction: inherit;
  margin-bottom: 10px;
}

.modallabel {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--secondarytext);
}

.modalinput {
  position: relative;
  height: 40px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-style: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--primarytext);
}

.formdiv input {
  padding-left: 42px;
}

.formdiv svg {
  position: absolute;
  top: 31px;
  left: 12px;
}

.modalinput:focus {
  outline: none;
  border-color: var(--accent);
}

.modalinput:focus + svg {
  fill: var(--accent);
}

.modaltextarea {
  resize: none;
  height: 120px;
  margin-bottom: 20px;
}

.modaltextarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modaltextarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modaltextarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modaltextarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modaltextarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modalagrbox {
  width: 425px;
  margin: 0 auto 30px auto;
}

.modalcheckbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
}

.betterbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../images/boxuncheck.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.modalcheckbox:checked + .betterbox {
  background-image: url(../images/boxcheck.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.modalcheckbox:focus.modalcheckbox:not(:checked) + .betterbox {
  background: none;
  background-color: var(--accent);
  -webkit-mask-image: url(../images/boxuncheck.svg);
  mask-image: url(../images/boxuncheck.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.modalagree {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondarytext);
}

.modallink {
  color: var(--accent);
}

.modalsubmit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  color: var(--trietaryacc);
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalsubmit:hover,
.modalsubmit:focus {
  background-color: var(--secondaryacc);
}

/* ----------- Portfolio Styles ----------- */

.button-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.button {
  font-family: inherit;
  border: none;
  background: var(--morebackground);
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list > li:not(:last-child) {
  margin-right: 8px;
}

.button:hover,
.button:focus,
.button.selected {
  background: var(--accent);
  color: var(--studiosecond);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.project-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-holder {
  position: relative;
  overflow: hidden;
}

.project-img {
}

.card-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  top: 0px;
  background-color: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  transform: translatey(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .card-overlay {
  transform: translatey(0%);
}

.project-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.project-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-desc {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondarytext);
}
